<div class="content">
  <img src="assets/africa/antilopa.jfif">
  <img src="assets/africa/bivol.jpg">
  <img src="assets/africa/elefant.jpg">
  <img src="assets/africa/girafa.jfif">
  <img src="assets/africa/gorila.jpg">
  <img src="assets/africa/hiena.jpg">
  <img src="assets/africa/hipo.jpg">
  <img src="assets/africa/leu.jpg">
  <img src="assets/africa/rinocer.webp">
  <img src="assets/africa/zebra.jpg">
</div>
<button mat-icon-button [routerLink]="['/africa/joc']" class="button">
  <mat-icon class="arrow">arrow_forward</mat-icon>
</button>