<div class="content">
  <img src="assets/europa/ariciu.jpg">
  <img src="assets/europa/bufnita.jpg">
  <img src="assets/europa/capra neagra.jpg">
  <img src="assets/europa/cerbul.jpg">
  <img src="assets/europa/lupu.jfif">
  <img src="assets/europa/ursu.png">
  <img src="assets/europa/veverita.jpg">
  <img src="assets/europa/vulpea.jpg">
  <img src="assets/europa/vulturul.jpg">
  <img src="assets/europa/zimbrul.jpg">
</div>
<button mat-icon-button [routerLink]="['/europa/joc']" class="button">
  <mat-icon class="arrow">arrow_forward</mat-icon>
</button>