:host {
  font-size: 30px;
  .image-continente {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/lumea.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 98%;

    > span.continent {
      cursor: pointer;
      position: absolute;
    }
  }

  .europa {
    top: 130px;
    right: 800px;
  }

  .americaNord {
    top: 180px;
    left: 340px;
  }
  .australia {
    top: 480px;
    right: 200px;
  }
  .antarctida {
    bottom: 40px;
    left: 950px;
  }
  .polulNord {
    top: 5px;
    left: 650px;

    &:hover {
      left: 630px;
      font-size: 40px;
    }
  }
  .asia {
    top: 170px;
    right: 500px;
  }
  .americaSud {
    top: 480px;
    left: 500px;
  }
  .africa {
    top: 300px;
    left: 880px;
  }
}
