<div class="image-continente">
    <span class="americaNord" (click)="goToAmericaNord()" (mouseenter)="americaNordHover('enter')"
        (mouseleave)="americaNordHover('leave')">America de Nord</span>
    <span class="americaSud" (click)="goToAmericaSud()" (mouseenter)="americaSudHover('enter')"
        (mouseleave)="americaSudHover('leave')">America de Sud</span>
    <span class="africa" (click)="goToAfrica()" (mouseenter)="africaHover('enter')"
        (mouseleave)="africaHover('leave')">Africa </span>
    <span class="europa" (click)="goToEuropa()" (mouseenter)="europaHover('enter')"
        (mouseleave)="europaHover('leave')">Europa</span>
    <span class="australia" (click)="goToAustralia()" (mouseenter)="australiaHover('enter')"
        (mouseleave)="australiaHover('leave')">Australia</span>
    <span class="asia" (click)="goToAsia()" (mouseenter)="asiaHover('enter')"
        (mouseleave)="asiaHover('leave')">Asia</span>
    <span class="antarctida" (click)="goToAntarctida()" (mouseenter)="antarctidaHover('enter')"
        (mouseleave)="antarctidaHover('leave')">Antarctida</span>
    <span class="polulNord" (click)="goToPolulNord()">Polul Nord</span>
</div>