<div class="image-continente">
    <span class="continent americaNord" (click)="goToAmericaNord()" (mouseenter)="americaNordHover('enter')"
        (mouseleave)="americaNordHover('leave')">America de Nord</span>
    <span class="continent americaSud" (click)="goToAmericaSud()" (mouseenter)="americaSudHover('enter')"
        (mouseleave)="americaSudHover('leave')">America de Sud</span>
    <span class="continent africa" (click)="goToAfrica()" (mouseenter)="africaHover('enter')"
        (mouseleave)="africaHover('leave')">Africa </span>
    <span class="continent europa" (click)="goToEuropa()" (mouseenter)="europaHover('enter')"
        (mouseleave)="europaHover('leave')">Europa</span>
    <span class="continent australia" (click)="goToAustralia()" (mouseenter)="australiaHover('enter')"
        (mouseleave)="australiaHover('leave')">Australia</span>
    <span class="continent asia" (click)="goToAsia()" (mouseenter)="asiaHover('enter')"
        (mouseleave)="asiaHover('leave')">Asia</span>
    <span class="continent antarctida" (click)="goToAntarctida()" (mouseenter)="antarctidaHover('enter')"
        (mouseleave)="antarctidaHover('leave')">Antarctida</span>
</div>