<div class="content">
  <img src="../../assets/antartica/albatros.jpg">
  <img src="../../assets/antartica/balena.jpg">
  <img src="../../assets/antartica/calmarul.jpg">
  <img src="../../assets/antartica/caracatita.jpg">
  <img src="../../assets/antartica/delfinul.jpg">
  <img src="../../assets/antartica/foca.jpg">
  <img src="../../assets/antartica/lupu.jpg">
  <img src="../../assets/antartica/orca.jpg">
  <img src="../../assets/antartica/petrelul.jpg">
  <img src="../../assets/antartica/pinguin.jpg">
</div>
<button mat-icon-button [routerLink]="['/']" class="button">
  <mat-icon class="arrow">arrow_forward</mat-icon>
</button>