<div class="content">
    <img (mouseenter)="playSound('cangur')" src="../../assets/australia/cangur.png">
    <img (mouseenter)="playSound('emu')" src="../../assets/australia/emu.png">
    <img (mouseenter)="playSound('koala')" src="../../assets/australia/koala.png">
    <img (mouseenter)="playSound('ornitorinc')" src="../../assets/australia/ornitorinc.png">
    <img (mouseenter)="playSound('sarpe')" src="../../assets/australia/sarpe.png">
    <img (mouseenter)="playSound('vulpe')" src="../../assets/australia/vulpe.png">
</div>
<button mat-icon-button [routerLink]="['/australia/flora']" class="button">
    <mat-icon class="arrow">arrow_forward</mat-icon>
</button>
