<div class="content">
    <img (mouseenter)="playSound('cangur')" src="../../assets/australia/cangur.jpg">
    <img (mouseenter)="playSound('emu')" src="../../assets/australia/emu.jpg">
    <img (mouseenter)="playSound('koala')" src="../../assets/australia/koala.jpg">
    <img (mouseenter)="playSound('ornitorinc')" src="../../assets/australia/ornitorinc.jpg">
    <img (mouseenter)="playSound('sarpe')" src="../../assets/australia/sarpe.jpg">
    <img (mouseenter)="playSound('vulpe')" src="../../assets/australia/vulpe.jpg">
</div>
<button mat-icon-button [routerLink]="['/australia/flora']" class="button">
    <mat-icon class="arrow">arrow_forward</mat-icon>
</button>